<ul style="list-style-type: none" class="events_sideblock">
  {% for item in items %}
    <li style="margin-bottom: 8px;">&rarr; {{ item.link }} <br />
      <span style="font-size: 11px">{{ item.info }}</span>
    </li>
  {% endfor %}
</ul>
